@model List<LibraryAPI.Resources.GenreResource>

@{
    ViewData["Title"] = "Genres";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul>
    @foreach (var item in Model)
    {
    <li>
        <tr>
            <td><a asp-action="Details" asp-route-id="@item.GenreId"> @Html.DisplayFor(modelItem => item.Name)</a></td>
            <td><a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a></td>
        </tr>
        
        
    </li>
    }
</ul>