@model IEnumerable<LibraryWebApp.Models.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Index" asp-route-genre="@item.Name"> @Html.DisplayFor(modelItem => item.Name)</a>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        </li>
    }
</ul>