@page
@model LibraryWebApp.Domain.Models.ViewModels.CreateBookViewModel


<h1>ViewData["Title"] = "Create";</h1>

<h4>Book</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Add">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Genres" class="control-label"></label>
                <select name="genreId" asp-items="Model.GenresOptions" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="Input.Genres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Authors" class="control-label"></label>
                <select name="authorId" asp-items="Model.AuthorsOptions" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="Input.Authors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OgTitle" class="control-label"></label>
                <input asp-for="Input.OgTitle" class="form-control" />
                <span asp-validation-for="Input.OgTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PublicationYear" class="control-label"></label>
                <input asp-for="Input.PublicationYear" class="form-control" />
                <span asp-validation-for="Input.PublicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Edition" class="control-label"></label>
                <input asp-for="Input.Edition" class="form-control" />
                <span asp-validation-for="Input.Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Notes" class="control-label"></label>
                <input asp-for="Input.Notes" class="form-control" />
                <span asp-validation-for="Input.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhysicalDescription" class="control-label"></label>
                <input asp-for="Input.PhysicalDescription" class="form-control" />
                <span asp-validation-for="Input.PhysicalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
