@model LibraryWebApp.Resources.BookingResource

<h1>Deliver Book</h1>

<div>

    <hr />

    <h4>Do you really want to deliver the following book?</h4>
    <h4>"@ViewBag.BookName"</h4><br />

    <form asp-action="Update">
        <input type="hidden" asp-for="BookingId" />
        <input type="hidden" asp-for="StartDate" />
        <input type="hidden" asp-for="EndDate" />
        <input type="hidden" asp-for="DeliveryDate" />
        <input type="hidden" asp-for="Status" />
        <input type="submit" value="Deliver" class="btn btn-warning" /> 
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </form>
</div>
