@model List<LibraryAPI.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul>
    @foreach (var item in Model)
    {
    <li>
        <p>
            <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.FullName)</a>
            <span><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></span>
        </p>
    </li>
    }
</ul>